body {
    background-color: #1d1d1d;
    color: #fafafa
 }
 h1,h2,p{
     text-align: center;
     color: #fafafa;
 }
  
  
 /*.vr {
     go
  
 .vy {
     background: linear-gradient(to right, rgba(229,229,229,0) 20%, rgba(255,197,0,0.7) 100%);
 }*/
  
 .vr{
     color: #c0392b;
 }
 .vy {
     color: #ffc500 ;
 }
  
  
  
  
 
 
  
 